In [1]:
import pandas as pd
import numpy

In [2]:
#Load in bird reference data
bDir = "Script Support Files\Reference_Bird.xlsx"

eBird_all = pd.read_excel(bDir, "eBird_all")
eBird_2015 = pd.read_excel(bDir, "eBird_2015")
eBird_2014 = pd.read_excel(bDir, "eBird_2014")
eBird_2013 = pd.read_excel(bDir, "eBird_2013")

ptBlue_all = pd.read_excel(bDir, "ptBlue_all")
ptBlue_2015 = pd.read_excel(bDir, "ptBlue_2015")
ptBlue_2013 = pd.read_excel(bDir, "ptBlue_2013")
ptBlue_2012 = pd.read_excel(bDir, "ptBlue_2012")

#Stuff for later in the script....
#Names for loops
rAbunNames = ['rAbun_eBird_all','rAbun_eBird_2015','rAbun_eBird_2014','rAbun_eBird_2013','rAbun_ptBlue_all','rAbun_ptBlue_2015','rAbun_ptBlue_2013','rAbun_ptBlue_2012']
sourceNames = ['eBird_all','eBird_2015','eBird_2014','eBird_2013','ptBlue_all','ptBlue_2015','ptBlue_2013','ptBlue_2012']

#Create emtpy dataframe to store results
metrics = pd.DataFrame(columns=["Richness","Shannon","Simpson"])

In [3]:
#Set species to DF index
eBird_all.set_index('Species',inplace=True)
eBird_2015.set_index('Species',inplace=True)
eBird_2014.set_index('Species',inplace=True)
eBird_2013.set_index('Species',inplace=True)
ptBlue_all.set_index('Species',inplace=True)
ptBlue_2015.set_index('Species',inplace=True)
ptBlue_2013.set_index('Species',inplace=True)
ptBlue_2012.set_index('Species',inplace=True)

In [4]:
#Combine into one df
data = eBird_all.join([eBird_2015, eBird_2014, eBird_2013,ptBlue_all,ptBlue_2015,ptBlue_2013,ptBlue_2012])

In [5]:
# Richness
for itm in sourceNames:
    metrics.loc[itm,"Richness"] =  data.loc[data[itm] >0,:].index.nunique()

In [6]:
#Relative Abundance

for i in range(0,len(sourceNames)):
    data[rAbunNames[i]] = data[sourceNames[i]] / data[sourceNames[i]].sum()

In [7]:
## Diversity indecies, Shannon and Simpson

for i in range(0,len(rAbunNames)):
    #Shanon
    elmt = data[rAbunNames[i]] * numpy.log(data[rAbunNames[i]])
    metrics.loc[sourceNames[i],"Shannon"] = elmt.sum()*-1

    #Simpson
    elmt = data[rAbunNames[i]] ** 2
    metrics.loc[sourceNames[i],"Simpson"] = 1/elmt.sum()
    
metrics

            Richness  Shannon  Simpson
eBird_all        235  4.19904  42.3329
eBird_2015       162  4.07304  37.7388
eBird_2014       171  4.03321  37.2184
eBird_2013       171  4.03641  31.9372
ptBlue_all       118  3.44495  17.7643
ptBlue_2015       63   3.1232  13.6209
ptBlue_2013       66  3.33093  19.6794
ptBlue_2012       77   3.5058  23.2335